fastapi
uvicorn
pymongo
python-dotenv
email-validator
python-multipart
passlib[bcrypt]
bcrypt==4.0.1
python-jose[cryptography]
cloudinary

qdrant-client
langchain-text-splitters
google-genai

nltk==3.9.1
scikit-learn 
numpy
tzdata

fastapi-mail==1.6.5
