fastapi
uvicorn
pymongo
python-dotenv
email-validator
python-multipart
passlib[bcrypt]
bcrypt==4.0.1
python-jose[cryptography]
cloudinary

qdrant-client
--extra-index-url https://download.pytorch.org/whl/cpu
torch==2.12.1+cpu
sentence-transformers
langchain-text-splitters

nltk==3.9.1
scikit-learn 
numpy
tzdata
